 .formStyle{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 40px auto;
	padding: 16px;
	background: #F7F7F7;
    border: 1px solid white;
    border-radius: 10px;

}

.formStyle h1{
    border-radius: 10px;

	background: rgb(237, 187, 226);
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.formStyle input[type="text"],
.formStyle input[type="email"],
.formStyle textarea {
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
    border-radius: 10px;


}

.formStyle input[type="text"]:focus,
.formStyle input[type="email"]:focus,
.formStyle textarea:focus
{
	padding: 3%;
	border: 2px solid rgb(237, 187, 226);
}

.formStyle input[type="submit"]
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: rgb(237, 187, 226);
	border: 1px solid white;	
	color: white;
    border-radius: 10px;
}
.formStyle input[type="submit"]:hover{
	background: rgba(159,227,255,1)  ;
} 